@import url(./reset.css);
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.container {
  background-color: grey;
  aspect-ratio: 192 / 108;
  width: 1400px;
  overflow: hidden;
  position: relative;
}

.imagediv {
  height: 100%;
  display: flex;
  position: relative;
  right: 200%;
}
.imagediv img {
  height: 100%;
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 45%;
  width: 100%;
  bottom: 45%;
  height: 10%;
  align-items: center;
}
.arrows button {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 60%;
  margin: 0 2em;
  display: none;
}
.arrows button > img {
  width: 100%;
}
.bottom {
  position: absolute;
  display: flex;
  gap: 9px;
  justify-content: center;
  width: 100%;
  bottom: 0;
  padding: 0.2em;
}
.bottom button {
  width: 20px;
  aspect-ratio: 1 /1;
  background-color: grey;
  border: none;
  border-radius: 50%;
  display: flex;
}
button.colored {
  background-color: orangered;
}
